/*
Font: 		Argent CF
Style: 		Regular
URL: 		https://youworkforthem.com/font/T5755/argent-cf
Foundry: 	Connary Fagen
Foundry: 	https://youworkforthem.com/designer/479/connary-fagen
Copyright:	Copyright � 2020 by Connary Fagen. All rights reserved.
Version: 	18
Created:	April 13, 2026
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'ArgentCF-Regular';
	src: url('argent-cf.woff2') format('woff2'),
	     url('argent-cf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
